
            <section class="section benefits-icons mt-lg-n5">
                <div class="wrap">
                    <div bp="grid text-center">
                        <div bp="12">
                            <h2>Benefits of a subscription</h2>
                        </div>
                    </div>
                    <div bp="grid text-center">
                        <div bp="6@sm 3@lg" class="item">
                            <i></i>
                            <h3 class="h4">Don’t forget a draw!</h3>
                            <p>Enjoy automatic entry into every giveaway.</p>
                        </div>
                        <div bp="6@sm 3@lg" class="item">
                            <i></i>
                            <h3 class="h4">More Entries</h3>
                            <p>Benefit from 30 entries every month for just £10.</p>
                        </div>
                        <div bp="6@sm 3@lg" class="item">
                            <i></i>
                            <h3 class="h4">Give Regularly</h3>
                            <p>Effortlessly support our charity partners.</p>
                        </div>
                        <div bp="6@sm 3@lg" class="item">
                            <i></i>
                            <h3 class="h4">Easy To Cancel</h3>
                            <p>Stop or pause your subscription at any time.</p>
                        </div>
                    </div>
                </div>
            </section>