
            <div class="follow pt-6">
    			<div class="wrap">
    				<div bp="grid vertical-center text-center text-left@md">
    					<h2 class="medium" bp="last first@md">Follow us on social - discover our latest winners & feel-good stories</h2>
                        <div bp="text-right@md first last@md">
                            <a href="#" class="btn brandbg3 whitetext stroke circle"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="btn brandbg3 whitetext stroke circle ml-2"><i class="fa-brands fa-instagram"></i></a>
                        </div>
    				</div>
    			</div>
            </div>
			<footer class="footer">
				<div class="nav section halftop">
					<div class="wrap">
						<div bp="grid text-center text-left@md">
							<div bp="6@md 3@lg">
								<h3 class="h5 mb-3 mr-xl-4">This month’s chosen charity partner</h3>
								<img src="/images/rainbow-trust.png" alt="" width="157" height="75">
							</div>
							<div bp="6@md 2@lg">
								<h3 class="h5">About</h3>
								<ul>
									<li><a href="#">Home</a></li>
									<li><a href="#">About</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Contact</a></li>
								</ul>
							</div>
							<div bp="6@md 2@lg" class="ml-xl-3">
								<h3 class="h5">The Draw</h3>
								<ul>
									<li><a href="#">Subscriptions</a></li>
									<li><a href="#">Results</a></li>
									<li><a href="#">Our Winners</a></li>
									<li><a href="#">FAQs </a></li>
								</ul>
							</div>
							<div bp="6@md 3@lg" class="ml-xl-5">
								<h3 class="h5">Nursery</h3>
								<ul>
									<li><a href="#">Nursery Login</a></li>
									<li><a href="#">Sign Up Your Nursery</a></li>
									<li><a href="#">Nursery FAQs</a></li>
								</ul>
							</div>
							<div bp="6@md 2@lg">
								<h3 class="h5">Legal</h3>
								<ul>
									<li><a href="#">Terms &amp; Conditions</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Cookie Policy</a></li>
									<li><a href="#">Site Map</a></li>
								</ul>
							</div>
						</div>
						<div bp="grid text-center text-left@md" class="copyright">
							<div bp="10@lg">
								<p>Please note that Nursery Jackpot is not a charity raffle but a prize draw. Lorem ipsum dolor sit amet consectetur. Purus accumsan massa in quis placerat eget aenean velit. Id nulla ante nam arcu neque diam. Curabitur et volutpat quam libero vitae dui. Convallis massa facilisis facilisis purus bibendum ultricies purus urna vel.</p>
							</div>
							<div bp="2@lg text-right@lg">
								<p>&copy; Nursery Jackpot</p>
								<p>Website by <a href="http://www.arrivaldesign.co.uk" title="Web Design Hull"><img src="https://www.arrivaldesign.co.uk/images/chevron.png" width="6" alt="Web Design Hull" class="arrival"></a> arrival</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
