		    <section class="home-prizes section {{ firstSegment == '' ? 'mt-n4' : 'pt-0' }}">
    			<div class="wrap">
    				<div bp="grid vertical-center">
    					<div bp="3@lg">
    						<h2 class="h4 p-0">See what you can win!</h2>
    					</div>
    					<div bp="3@lg" class="item">
                            <div class="star brand6"><i class="fa-solid fa-star"><span>1<small>st</small></span></i></div>
                            <h3>12 Month <span>Nursery Placement</span></h3>
    					</div>
    					<div bp="3@lg" class="item">
                            <div class="star brand5"><i class="fa-solid fa-star"><span>2<small>nd</small></span></i></div>
                            <h3>3 Month <span>Nursery Placement</span></h3>
    					</div>
    					<div bp="3@lg" class="item">
                            <div class="star brand3"><i class="fa-solid fa-star"><span>3<small>rd</small></span></i></div>
                            <h3>Cool Prize <span>New Every Month</span></h3>
    					</div>
    				</div>
    			</div>
    		</section>