<section class="section quick-enquiry">
    <div class="wrap">
        <div bp="grid">
            <div bp="5@lg" data-aos="fade">
                <h2 class="large">Tell us what insurance you're looking for & we'll get back to you ASAP</h2>
                <h4>Call <a href="tel:01482 323424">01482 323424</a> today and see how we can help or email <a href="mailto:mail@hinks.co.uk">mail@hinks.co.uk</a></h4>
                <div class="social">
                    <a href="https://www.facebook.com/HinksInsurance/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com/company/hinks-insurance" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://twitter.com/HinksInsurance" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
            <div bp="6@lg offset-7@lg" data-aos="fade" class="form">
                <h3 class="h4">Fill out the form & we will get straight back to you.</h3>
                <form action="" name="footForm" id="footForm" method="post">
                    <div bp="grid">
                        <div bp="12" id="quoteform">
                            <input type="text" name="cname" id="cname" class="required input" placeholder="Name" title="Please enter a name" aria-required="true">
                            <input type="text" name="ctel" id="ctel" class="required input" placeholder="Contact Number" title="Please enter a contact number">
                            <input type="email" name="cemail" id="cemail" class="required input" placeholder="Email Address" title="Please enter a valid email address">
                            <textarea name="cenquiry" id="cenquiry" class="input textarea" placeholder="Your Message"></textarea>
                            <div id="captcha_container"></div>
                            <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha" title="Please confirm that you are not a robot">
                        </div>
                    </div>
                    <div bp="grid vertical-center" class="top30px">
                        <div bp="4@lg 3@xl">
                            <input type="submit" value="Submit" class="btn brand fullwidth">
                        </div>
                        <div bp="9@xl text-center text-left@md" class="gdpr">
                            We’re fully committed to handling personal information you’ve supplied to us in compliance with the latest GDPR laws, and we’ll never share your details.
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>