<section class="section signup">
    <div class="wrap">
        <div bp="grid vertical-center text-center">
            <div bp="8@lg offset-3@lg 6@xl offset-4@xl" data-aos="fade">
                <h2>Sign up for latest news & updates</h2>
				<form action="" name="signForm" id="signForm" method="post">
                    <input type="email" name="semail" id="semail" class="required email" placeholder="Email Address" title="Please enter a valid email address">
                    <button type="submit" class="btn brand"><i class="fas fa-chevron-right"></i></button>
                </form>
            </div>
        </div>
    </div>
</section>