{% extends "_layout.twig" %}

{% block content %}
		    <section class="feature static">
    			<div class="wrap">
    				<div bp="grid vertical-center">
    					<div bp="12" class="content">
    						<h1>Frequently asked questions</h1>
    					</div>
    				</div>
    			</div>
    		</section>
            <section class="section halfbottom">
                <div class="wrap">
                    <div bp="grid vertical-center">
                        <div bp="6@md">
                            <h2 class="h3 p-0">Discover all the key questions and answers you need to know about Nursery Jackpot.</h2>
                        </div>
                        <div bp="6@md">
                            <p>For more in-depth detail, please review our Official Rules carefully, as they constitute a binding contract between you and the Nursery Jackpot.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section faqs pt-0">
                <div class="wrap">
                    <div bp="grid gap-column-double@lg gap-row-none">
                        <div class="toggle-group" bp="6@md">
                            <h3 class="pt-0 brand4 mb-3">The Prize Draw</h2>
                            <div class="toggle-holder">
                                <h3 class="toggleme">How do I enter</h3>
                                <div class="toggle-text">
                                    <p>You can book for 7 nights from Friday to Friday, 5 nights from Monday to Friday, or 3 nights from Friday to Monday. These options provide flexibility for different lengths of stays throughout the week.</p>
                                </div>
                            </div>
                            <div class="toggle-holder">
                                <h3 class="toggleme">Is there a maximum entry limit?</h3>
                                <div class="toggle-text">
                                    <p>Although we can be flexible if it is absolutely required, guests should arrive after 4pm for check-in and leave at 10am or before on the day of departure.</p>
                                </div>
                            </div>
                            <div class="toggle-holder">
                                <h3 class="toggleme">Can I enter for free?</h3>
                                <div class="toggle-text">
                                    <p>Although we can be flexible if it is absolutely required, guests should arrive after 4pm for check-in and leave at 10am or before on the day of departure.</p>
                                </div>
                            </div>
                            <div class="toggle-holder">
                                <h3 class="toggleme">What is the prize for each draw?</h3>
                                <div class="toggle-text">
                                    <p>Although we can be flexible if it is absolutely required, guests should arrive after 4pm for check-in and leave at 10am or before on the day of departure.</p>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-group" bp="6@md">
                            <h3 class="pt-0 brand4 mb-3">Winner Selection</h2>
                            <div class="toggle-holder">
                                <h3 class="toggleme">How do I enter</h3>
                                <div class="toggle-text">
                                    <p>You can book for 7 nights from Friday to Friday, 5 nights from Monday to Friday, or 3 nights from Friday to Monday. These options provide flexibility for different lengths of stays throughout the week.</p>
                                </div>
                            </div>
                            <div class="toggle-holder">
                                <h3 class="toggleme">Is there a maximum entry limit?</h3>
                                <div class="toggle-text">
                                    <p>Although we can be flexible if it is absolutely required, guests should arrive after 4pm for check-in and leave at 10am or before on the day of departure.</p>
                                </div>
                            </div>
                            <div class="toggle-holder">
                                <h3 class="toggleme">Can I enter for free?</h3>
                                <div class="toggle-text">
                                    <p>Although we can be flexible if it is absolutely required, guests should arrive after 4pm for check-in and leave at 10am or before on the day of departure.</p>
                                </div>
                            </div>
                            <div class="toggle-holder">
                                <h3 class="toggleme">What is the prize for each draw?</h3>
                                <div class="toggle-text">
                                    <p>Although we can be flexible if it is absolutely required, guests should arrive after 4pm for check-in and leave at 10am or before on the day of departure.</p>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-group" bp="6@md">
                            <h3 class="pt-0 brand4 mb-3">Providing Personal Information</h2>
                            <div class="toggle-holder">
                                <h3 class="toggleme">How do I enter</h3>
                                <div class="toggle-text">
                                    <p>You can book for 7 nights from Friday to Friday, 5 nights from Monday to Friday, or 3 nights from Friday to Monday. These options provide flexibility for different lengths of stays throughout the week.</p>
                                </div>
                            </div>
                            <div class="toggle-holder">
                                <h3 class="toggleme">Is there a maximum entry limit?</h3>
                                <div class="toggle-text">
                                    <p>Although we can be flexible if it is absolutely required, guests should arrive after 4pm for check-in and leave at 10am or before on the day of departure.</p>
                                </div>
                            </div>
                            <div class="toggle-holder">
                                <h3 class="toggleme">Can I enter for free?</h3>
                                <div class="toggle-text">
                                    <p>Although we can be flexible if it is absolutely required, guests should arrive after 4pm for check-in and leave at 10am or before on the day of departure.</p>
                                </div>
                            </div>
                            <div class="toggle-holder">
                                <h3 class="toggleme">What is the prize for each draw?</h3>
                                <div class="toggle-text">
                                    <p>Although we can be flexible if it is absolutely required, guests should arrive after 4pm for check-in and leave at 10am or before on the day of departure.</p>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-group" bp="6@md">
                            <h3 class="pt-0 brand4 mb-3">Miscellaneous</h2>
                            <div class="toggle-holder">
                                <h3 class="toggleme">How do I enter</h3>
                                <div class="toggle-text">
                                    <p>You can book for 7 nights from Friday to Friday, 5 nights from Monday to Friday, or 3 nights from Friday to Monday. These options provide flexibility for different lengths of stays throughout the week.</p>
                                </div>
                            </div>
                            <div class="toggle-holder">
                                <h3 class="toggleme">Is there a maximum entry limit?</h3>
                                <div class="toggle-text">
                                    <p>Although we can be flexible if it is absolutely required, guests should arrive after 4pm for check-in and leave at 10am or before on the day of departure.</p>
                                </div>
                            </div>
                            <div class="toggle-holder">
                                <h3 class="toggleme">Can I enter for free?</h3>
                                <div class="toggle-text">
                                    <p>Although we can be flexible if it is absolutely required, guests should arrive after 4pm for check-in and leave at 10am or before on the day of departure.</p>
                                </div>
                            </div>
                            <div class="toggle-holder">
                                <h3 class="toggleme">What is the prize for each draw?</h3>
                                <div class="toggle-text">
                                    <p>Although we can be flexible if it is absolutely required, guests should arrive after 4pm for check-in and leave at 10am or before on the day of departure.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div bp="text-center" class="mt-4"><a href="#" class="btn brandbg3 whitetext stroke nowidth decal caps rounded px-md-6">Got a Question?</a></div>
                </div>
            </section>
            {% include "_includes/cta.twig" %}
{% endblock %}
