{% extends "_layout.twig" %}

{% block content %}
		    <section class="feature primary">
    			<div class="wrap">
    				<div bp="grid vertical-center">
    					<div bp="7@sm 5@md" class="content">
    						<h1>Win a nursery place FREE for a year!</h1>
                            <p class="headfont mr-xl-6">Experience the thrill of Nursery Jackpot. Play for the top prize & strike it lucky.</p>
                            <a href="#" class="btn brandbg whitetext circle caps">Enter Now!</a>
    					</div>
    				</div>
                    <div class="star brand3"><i class="fa-solid fa-star"></i></div>
                    <div>
                        <div class="twinkle"></div>
                        <div class="twinkle"></div>
                        <div class="twinkle"></div>
                        <div class="twinkle"></div>
                        <div class="twinkle"></div>
                        <div class="twinkle"></div>
                        <div class="twinkle"></div>
                    </div>
    			</div>
    		</section>
            {% include "_includes/prize-banner.twig" %}
            <section class="section p-0 mt-n5">
                <div class="wrap">
                    <div bp="grid">
                        <div bp="last first@md 6@md" class="mr-0 mr-md-5 mr-lg-0">
                            <h2>Striving to help parents cover the costs of childcare</h2>
                            <h4 class="brand3 pt-0">Take a chance. Have fun. Win a nursery placement.</h4>
                            <p>Nursery Jackpot is a fundraising initiative designed to make money for the parents and nurseries who enter &ndash; and our chosen charities.</p>
                            <p>Join today for the chance to win your child&rsquo;s nursery place free for a year.</p>
                            <p>Snap up your tickets and at the end of each month, we will randomly draw the winners.</p>
			                <p class="pt-2"><a href="/about" class="btn brandbg3 whitetext stroke decal nowidth caps rounded">Learn more about us</a></p>
                        </div>
                        <div bp="first last@md 5@md offset-8@lg" class="mx-xl-n6">
                            <img src="/images/home-image1.webp" alt="" width="1008" height="873">
                        </div>
                    </div>
                </div>
            </section>
            <section class="section pt-0">
                <div class="wrap">
                    <div bp="grid vertical-center">
                        <div bp="5@md" class="mr-xl-n6">
                            <img src="/images/home-image2.webp" alt="" width="879" height="878">
                        </div>
                        <div bp="6@md offset-7@md" class="ml-xl-4">
                            <h2>Everyone’s a winner!</h2>
                            <h4 class="brand3 pt-0">Parents grin. Nurseries win. Charities are quids in.</h4>
                            <p>Scoop the top jackpot and free up funds for other family essentials (like a holiday).</p>
                            <p>Transform lives and support the excellent work of invaluable local charities.</p>
                            <p>Help your nursery benefit from vital funding for toys or equipment.</p>
			                <p class="pt-2"><a href="#" class="btn brandbg3 whitetext stroke decal nowidth caps rounded">How the draw works</a></p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section home-steps">
                <div class="wrap">
                    <div bp="grid vertical-center">
                        <div bp="last first@md 6@md">
                            <div class="item">
                                <div class="star brand4"><i class="fa-solid fa-star"><span>1</span></i></div>
                                <div>
                                    <h3>Select your nursery</h3>
                                    <p>Choose your childcare provider &amp; tell us your details.</p>
                                </div>
                            </div>
                            <div class="item my-lg-n3">
                                <div class="star brand4"><i class="fa-solid fa-star"><span>2</span></i></div>
                                <div>
                                    <h3>Buy your tickets</h3>
                                    <p>Enter as a one off or subscribe &amp; never miss a draw.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="star brand4"><i class="fa-solid fa-star"><span>3</span></i></div>
                                <div>
                                    <h3>Win a HUGE prize!</h3>
                                    <p>Nursery Jackpot must be won every month - check your results online.</p>
                                </div>
                            </div>
                        </div>
                        <div bp="first last@md 5@md offset-8@lg">
                            <div class="box">
                                <h3 class="h2 medium pt-0">Dive into the Nursery Jackpot draw – entering is like child’s play!</h3>
    			                <p class="pt-3"><a href="#" class="btn brandbg whitetext stroke decal caps rounded">Enter Now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section home-boost">
                <div class="wrap">
                    <div bp="grid vertical-center">
                        <div bp="last first@md 5@md" class="mr-0 mr-md-5 mr-lg-0 content">
                            <h2 class="pt-0">Boost your chance to hit the Nursery Jackpot!</h2>
                            <p>Increase your investment and enhance your likelihood of winning. It couldn’t be simpler. <a href="#">Subscribe online now!</a></p>
                            <div class="entry-box headfont">
                                <p>Subscribe for</p>
                                <p><strong>&pound;10</strong>/month</p>
                                <p><strong>30 Entries</strong> (3x more entries)</p>
                                <a href="#" class="btn brandbg whitetext circle caps">Enter Now!</a>
                            </div>
                        </div>
                        <div bp="first last@md 6@md offset-7@lg" class="image">
                            <img src="/images/home-image3.webp" alt="" width="1056" height="810" class="rounded double">
                            <div class="star brand4"><i class="fa-solid fa-star"></i></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section faqs">
                <div class="wrap">
                    <h2 bp="text-center" class="pt-0">Frequently asked questions</h2>
                    <div bp="grid gap-column-double@lg">
                        <div class="toggle-group" bp="6@md">
                            <div class="toggle-holder">
                                <h3 class="toggleme">How do I enter</h3>
                                <div class="toggle-text">
                                    <p>You can book for 7 nights from Friday to Friday, 5 nights from Monday to Friday, or 3 nights from Friday to Monday. These options provide flexibility for different lengths of stays throughout the week.</p>
                                </div>
                            </div>
                            <div class="toggle-holder">
                                <h3 class="toggleme">Is there a maximum entry limit?</h3>
                                <div class="toggle-text">
                                    <p>Although we can be flexible if it is absolutely required, guests should arrive after 4pm for check-in and leave at 10am or before on the day of departure.</p>
                                </div>
                            </div>
                            <div class="toggle-holder">
                                <h3 class="toggleme">What is the prize for each draw?</h3>
                                <div class="toggle-text">
                                    <p>Although we can be flexible if it is absolutely required, guests should arrive after 4pm for check-in and leave at 10am or before on the day of departure.</p>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-group" bp="6@md">
                            <div class="toggle-holder">
                                <h3 class="toggleme">How are winners picked?</h3>
                                <div class="toggle-text">
                                    <p>Payment can be made conveniently via PayPal or card, with the full amount due at the time of booking if it’s within 8 weeks of the stay. Alternatively, a £200 non-refundable deposit is required, with the remaining balance payable 8 weeks prior to the stay.</p>
                                </div>
                            </div>
                            <div class="toggle-holder">
                                <h3 class="toggleme">Who is eligible to win?</h3>
                                <div class="toggle-text">
                                    <p>The key is placed in a KeySafe, with detailed instructions and a secure code emailed to guests the day before arrival.</p>
                                </div>
                            </div>
                            <div class="toggle-holder">
                                <h3 class="toggleme">How will I be notified if I win?</h3>
                                <div class="toggle-text">
                                    <p>The key is placed in a KeySafe, with detailed instructions and a secure code emailed to guests the day before arrival.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div bp="text-center"><a href="#" class="btn brandbg3 whitetext stroke nowidth decal caps rounded px-md-6">See all Questions</a></div>
                </div>
            </section>
            <section class="section home-involved">
                <div class="wrap">
                    <div bp="grid vertical-center">
                        <div bp="5@md" class="mr-xl-n6 image">
                            <img src="/images/home-image4.webp" alt="" width="1056" height="810" class="rounded double">
                            <div class="star brand5"><i class="fa-solid fa-star"></i></div>
                        </div>
                        <div bp="6@md offset-7@md" class="ml-xl-4">
                            <h2>Get your nursery involved - sign up today!</h2>
                            <p>We understand how hard it is to provide an enriching and supportive nursery experience.</p>
                            <p>We want you to join the Nursery Jackpot, so the children in your care can benefit from the chance to win educational resources.</p>
                            <p>The more tickets you sell, the more chance you have of success. Sign up now and encourage your parents to take part!</p>
			                <p class="pt-2"><a href="#" class="btn brandbg5 whitetext stroke decal nowidth caps rounded">Join Nursery Jackpot</a></p>
                        </div>
                    </div>
                </div>
            </section>
            {% include "_includes/blog-listing.twig" with { posts: craft.entries().section('blog').limit(1).all() } only %}
{% endblock %}
